@media only screen and (min-width: 32.5em){

    /* Weather */
    .contentbox.weather {
        width: 95%;
        background-color: transparent;
        border: none;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        align-items: center;
    }

    /* Stats */
    .contentbox .stats {
        width: 80%;
        display: grid !important;
        grid-template-columns: repeat(2, minmax(0, 1.6fr));
        grid-gap: 20px;
        padding: 80px 20px 80px 20px;
    }

    .contentbox .stats .stats-img  {
        display: flex;
    }

    img.weather-img {
        max-width: 90%;
    }
    .contentbox .stats .stats-data {
        width: 100%;
        text-align: center;
    }

    .contentbox .stats h2 {
        padding-bottom: 0;
        margin: 0;
    }

    .contentbox .stats hr {
        border: 1px solid black;
    }

    .contentbox .stats p {
        text-align: center;
        margin: 10px;
        font-size: 18px;
    }

    /* Form */
    form fieldset {
        display: grid !important;
        grid-template-columns: repeat(2, minmax(0, 1.6fr));
        grid-gap: 20px;
    }

    /* Forecast Table */
    table,th,td {
        padding: 15px 35px 20px 35px;
    }

}